.color {
  color: red;
}
.color:hover {
  color: blue;
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-right: 30px;
}
.box2 {
  background-color: blue;
}
.box3 {
  background-color: green;
}
.fle {
  display: flex;
}
